@import 'react-pivottable/pivottable.css';
@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-layout-header {
  background-color: #f0f2f5;
}

.ant-layout-content {
  overflow:auto;
}

.ant-layout-content table td.pvtRenderers, .ant-layout-content table td.pvtUnused, .ant-layout-content table td.pvtRenderers, .ant-layout-content table td.pvtVals, .ant-layout-content table td.pvtCols, .ant-layout-content table td.pvtRows {
  display: none;
}

.ant-layout-content table td.pvtOutput {
  display: block;
}

.ant-layout-sider-children  {
  background: white;
}

.hidden {
  display: none;
}